extends ./../base.pug

append head
    link(rel="stylesheet", href="/css/spinner.css")

block content
    main.main.main--form
        .form
            h2.form__heading Forgot password?
            p.form__description Enter the email address you used when you joined and we’ll send you instructions to reset your password.
            p.form__description For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.
            form.form__body(is="forgot-password-form")
                .form__group
                    input#email.form__input(type="email", required)
                    label.form__label(for="email"): span Email address
                .form__group
                    button.btn.btn--big.btn--dark.form__button Send reset instructions
