extends ./../base.pug

block content
    main.main.main--form
        .form
            h2.form__heading Log into your account
            form.form__body.form__body--login(is="login-form")
                .form__group
                    input#email.form__input(type="email", required)
                    label.form__label(for="email"): span Email address
                .form__group
                    input#password.form__input(type="password", required, minlength="8")
                    label.form__label(for="password"): span Password
                .form__group
                    button.btn.btn--big.btn--dark.form__button Login
            .form__footer
                a(href="/signup").form__link Not a member? Click here to signup!
                a(href="/forgotPassword").form__link Forgot your password?
