extends ./../base.pug

append head
    link(rel="stylesheet", href="/css/form-template.css")
    link(rel="stylesheet", href="/css/spinner.css")

block content
    main.main
        .wrapper--app
            .app__header
                h1#userAccount.heading-title= title
            .app__content
                .tabs.tabs--me
                    .tabs__tablist-container
                        .tabs__tablist(aria-labelledby="userAccount")
                            button.tabs__tab User profile
                            button.tabs__tab Security & Passwords
                            button.tabs__tab Account preferences
                            button.tabs__tab Connected Apps
                            button.tabs__tab Blacklist
                    .tabs__tabpanel
                        include ./includes/userProfile.pug
                    .tabs__tabpanel
                        include ./includes/security.pug
                    .tabs__tabpanel
                        include ./includes/toBeImplemented.pug
                    .tabs__tabpanel
                        include ./includes/toBeImplemented.pug
                    .tabs__tabpanel
                        include ./includes/toBeImplemented.pug
