extends base.pug

block content
    main.main
        .app-wrapper
            .error
                .error__title
                    h2.heading-secondary.heading-secondary--error Something went wrong!
                p.error__message= err