footer 
    p.footer_copy IssueTracker &copy; by Maciej Okniński
    ul.footer__menu
        li: a(href="#") About us
        li: a(href="#") Download apps
        li: a(href="#") Terms of Service
        li: a(href="#") Privacy Policy
        li: a(href="#") Careers
        li: a(href="#") Contact