extends base.pug

block content
    main
        section.section-cta
            .section-cta__left
                h1.heading-primary Bring your team together to build better products.
                p.product-description IssueTracker makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.
                button.btn.btn--big.btn--dark Start now!
            .section-cta__right
                img.section-cta__hero(src="/img/ui/illustration-intro.png", alt="Measure performance of the team and assign tasks")
        section.section-advantages
            .section-advantages__left
                h2.heading-secondary What's so different about IssueTracker?
                p.product-description Issue tracker provides all the functionalities required to create, track and approve project completion. All in easy to set up project environment and it is completely free! 
            .section-advantages__right
                ul.features
                    li.features__item
                        h3.heading-tertiary Project porftolio
                        p.product-description IssueTracker is easy to set up and allows the project manager as well as the development team to maintain a project portfolio of projects that they are assigned to. No more unnecessary notifications about projects that do not concern you.
                    li.features__item
                        h3.heading-tertiary Approaching deadlines dashboard
                        p.product-description Prioritize your work and fix the bugs based on the approaching deadlines for projects. Plan ahead, so you can request help earlier if necessary.
                    li.features__item
                        h3.heading-tertiary Lorem ipsum dolor
                        p.product-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.