extends base.pug

append head
    link(rel="stylesheet", href="/css/spinner.css")

block content
    main.main.main--form
        .form
            h2.form__heading Reset password
            p.form__description Type your new password below to reset.
            p.form__description For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.
            form.form__body(is="reset-password-form", data-token= `${token}`)
                .form__group
                    input#password.form__input(type="password", required, minlength="8")
                    label.form__label(for="password"): span Password
                .form__group
                    input#confirmPassword.form__input(type="password", required, minlength="8")
                    label.form__label(for="confirmPassword"): span Confirm password
                .form__group
                    button.btn.btn--big.btn--dark.form__button Reset password
