* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #374056;
  padding: 0 1.5em;
  align-items: center;
}

.logo__content {
  color: #f2f2f2;
  font-size: 3.6rem;
}

.menu {
  display: flex;
  list-style: none;
}

.menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 66px;
  height: 66px;
  padding: 6px;
  text-decoration: none;
  outline: none;
  transition: 0.2s ease-in-out;
}

.menu__link--active,
.menu__link:hover,
.menu__link:focus {
  background-color: #1a2133;
}

.menu__icon {
  width: 36px;
  height: 36px;
}

.menu__icon--login {
  height: 34px;
  width: 34px;
}

.menu__icon--user {
  transform: translateX(3px);
}

.menu__text {
  color: #f2f2f2;
  font-size: 1.4rem;
  margin-top: 2px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  height: 66px;
  background-color: #fff;
}

.footer_copy {
  color: #1a2133;
  font-size: 1.2rem;
  opacity: 0.66;
}

.footer__menu {
  display: flex;
  list-style: none;
  margin-right: 1em;
}

.footer__menu li {
  margin-left: 1.2em;
}

.footer__menu a {
  text-decoration: none;
  color: #1a2133;
  font-size: 1.2rem;
  opacity: 0.66;
  transition: 0.2s ease-in-out;
}

.footer__menu a:hover {
  opacity: 1;
}

main {
  min-height: calc(100vh - 66px - 66px);
  padding: 1.5em 3em;
}

.section-cta,
.section-advantages {
  display: flex;
  padding: 6em;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-cta__left,
.section-advantages__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-cta__left > * + *,
.section-advantages__left > * + * {
  margin-top: 4rem;
}

.heading-primary {
  color: #374056;
  font-size: 4.8rem;
  max-width: 19ch;
  line-height: 102.5%;
}

.product-description {
  font-size: 1.7rem;
  max-width: 45ch;
  color: #636262;
  line-height: 140%;
}

.heading-secondary {
    font-size: 3.4rem;
    line-height: 105%;
    color: #374056;
}

.section-cta__right {
    text-align: center;
}

.section-cta__hero {
  width: 75%;
}

.features {
    width: 90%;
    margin-right: 6em;
    list-style: none;
    padding: 0.5em 0;
    counter-reset: feature-item;
}

.features__item {
    position: relative;
}

.features__item::before {
    counter-increment: feature-item;
    content: counter(feature-item);
    position: absolute;
    right: calc(100% + 10px);
    top: -6px;
    height: 40px;
    width: 40px;
    background-color: #374056;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    font-weight: 700;
    font-size: 1.8rem;
}

.features__item + .features__item {
    margin-top: 3em;
}

.features__item > * + * {
    margin-top: 0.5em;
}

.heading-tertiary {
    font-size: 2.6rem;
    color: #374056;
}

/* Buttons */

.btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.btn--big {
  font-size: 2.2rem;
  padding: 0.5em 1.5em;
}

.btn--dark {
  color: #f2f2f2;
  background-color: #374056;
}

.btn--dark:focus,
.btn--dark:hover {
    background-color: #1a2133;
}
